<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a New Goal</title>
 <p>Currently logged in as:<strong>{{ request.user }}</strong></p>
</head>
<body>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Add New Goal">
</form>

<a href="{% url 'ogochukwubahscrumy:home' %}">Go to Homepage</a>
</body>
</html>