<!DOCTYPE html>
<html>
<title>Homepage</title>

<head>
    <style>
        table, th, td {
            border: 2px solid black;
            border-collapse: collapse;
            margin: 75px;
        }

        th, td {
            padding: 5px;
            text-align: center;
        }
    </style>
    <p>Currently logged in as:<strong>{{ request.user }}</strong></p>
    <div class="top-right">
        <a href="{% url 'ogochukwubahscrumy:add_goal' %}">Add a new goal</a>
    </div>
</head>
<body>
<table style="width:70%">
    <caption><strong>SCRUMY BOARD</strong></caption>
    <tr>
        <th>User</th>
        <th>Weekly Goals</th>
        <th>Daily Goals</th>
        <th>Verify Goals</th>
        <th>Done Goals</th>
    </tr>

    {% for user in Users %}
        <tr>
            <td>{{ user }}</td>
            <td>
                {% for goal in user.goal_created.all %}
                    {% if goal in WeeklyGoal %}
                        {{ goal.goal_name }}, {{ goal.goal_id }}<br>
                        <a href="{% url 'ogochukwubahscrumy:move_goal' goal.goal_id %}">Move This Goal</a>
                        <br><br>
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for goal in user.goal_created.all %}
                    {% if goal in DailyGoal %}
                        {{ goal.goal_name }}, {{ goal.goal_id }}<br>
                        <a href="{% url 'ogochukwubahscrumy:move_goal' goal.goal_id %}">Move This Goal</a>
                        <br><br>
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for goal in user.goal_created.all %}
                    {% if goal in VerifyGoal %}
                        {{ goal.goal_name }}, {{ goal.goal_id }}<br>
                        <a href="{% url 'ogochukwubahscrumy:move_goal' goal.goal_id %}">Move This Goal</a>
                        <br><br>
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for goal in user.goal_created.all %}
                    {% if goal in DoneGoal %}
                        {{ goal.goal_name }}, {{ goal.goal_id }}<br>
                        <a href="{% url 'ogochukwubahscrumy:move_goal' goal.goal_id %}">Move This Goal</a>
                        <br><br>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>

    {% endfor %}

</table>
</body>
</html>