<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Move Goal</title>
    <p>Currently logged in as:<strong>{{ request.user }}</strong></p>
</head>
<body>
<form method="post">
    {% csrf_token %}
        {{ form.as_p }}
    <input type="submit" value="Move Goal">
</form>
</body>
</html>