<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <style>
        form {
            padding: 40px 30px;
            background: #fefefe;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-bottom: 20px;
            width: 300px
        }
    </style>
    <title>Login</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    {% if form.errors %}
        <p>Invalid Login Credentials!</p>
    {% endif %}

    <input type="text" name="username" placeholder="Username"><br>
    <input type="password" name="password" placeholder="Password"><br><br>
    <input type="Submit" value="Login">
</form>

</body>
</html>